html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.messages {background:white;width:520px;}
ul{list_style:none;}
ul.messages li {position:relative;font-size:1em;padding:.5em;
	        border-bottom:1px dotted #ccc}
li:last-child {border-bottom:none;}
li time{font-size: .8em; padding-bottom:2em;}
form, .error {padding:3em;margin-bottom:4.5em;
              position:relative;background:white;}

